.container {
    width:90%;
    margin:30px auto;
}

.container table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.container table thead tr{
    border-color: black;
}

.container table thead tr th{
    padding: 8px;
    line-height: 1.42857143;
    text-align: left;
}