.DrawerToggle {
    width: 40px;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 10px;
}

.DrawerToggle span {
    display: block;
    height: 3px;
    margin-top: 3px;
    width: 90%;
    background: black
    /* width: 90%;
    height: 3px;
    background-color: white; */
}

@media (min-width: 680px) {
    .DrawerToggle {
        display: none;
    }
}