.makeAppointmentArea{
    margin-bottom: 0px;
    padding: 0;
    height: 400px;
    background: rgba(0, 0, 0, 0) url("../../assets/images/appointment-bg2.jpg") no-repeat scroll center center / cover ;
    height: inherit
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: inherit;
}

.row {
    margin-right: auto;
    margin-left: auto;
    height: 80%;
    width: 100%;
    padding-top:50px;
}

.signInForm{
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    padding: 25px 15px;
    overflow: hidden;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.176);
    border: 1px solid #ccc;
    height: 70%;
}
.signInForm h2{
    font-size: 30px !important;
    margin: 17px 0;
}

.formGroup{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.formGroup label{
    font-weight: 600;
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
    .row {
        width: 50%;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
    .row {
        width: 50%;
    }
}
