.HeaderTopArea {
    background: #071041 none repeat scroll 0 0;
    height: inherit;
    color: white
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    width:75%;
    font-size: 12px;
}

.ContainerLeft{
    display: flex;
    width: 50%;
    
}

.ContainerLeft p{
    padding: 5px;
    margin: 5px;
}

.ContainerRight{
    width:50%;
    max-height: 30px;
    margin: auto 0px;
}

/* .ContainerRight div{
    margin-left: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-top:auto;
} */

@media (min-width: 768px) and (max-width: 992px){
    .ContainerLeft{
        display:flex;
        flex-direction: column;
    }
    .ContainerLeft div{
        margin:auto;
        padding: 0px;
    }
    .ContainerRight{
        margin: auto 0px;
    }
}

@media (min-width: 500px) and (max-width: 767px){
    .container{
        flex-direction: column;
    }
    .ContainerLeft{
        margin: auto;
        width: 90%;
        display:flex;
        flex-direction: row;
    }
    .ContainerLeft p{
        margin:0px;
    }
}

@media (max-width: 499px){
    .container{
        flex-direction: column;
    }
    .ContainerLeft{
        flex-direction: column;
        width: auto;
        margin:auto;
    }
    .ContainerLeft p{
        margin:0px;
    }
    /* .ContainerRight{
        width: auto;
    } */
    .ContainerRight div{
        margin:auto;
    }
}